[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nsyllable"]
	path = nsyllable
	url = https://github.com/quanteda/nsyllable
[submodule "quanteda"]
	path = quanteda
	url = https://github.com/quanteda/quanteda
[submodule "quanteda.textmodels"]
	path = quanteda.textmodels
	url = https://github.com/quanteda/quanteda.textmodels
[submodule "quanteda.textplots"]
	path = quanteda.textplots
	url = https://github.com/quanteda/quanteda.textplots
[submodule "quanteda.textstats"]
	path = quanteda.textstats
	url = https://github.com/quanteda/quanteda.textstats
[submodule "readtext"]
	path = readtext
	url = https://github.com/quanteda/readtext
[submodule "spacyr"]
	path = spacyr
	url = https://github.com/quanteda/spacyr
[submodule "stopwords"]
	path = stopwords
	url = https://github.com/quanteda/stopwords
